<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>watch对比computed</title>
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            姓：<input type="text" v-model="firstName" /> <br />
            名：<input type="text" v-model="lastName" /> <br />
            全名：<span>{{fullName}}</span> <br />
        </div>
        <script>
            Vue.config.productionTip = false;

            const vm = new Vue({
                el: '#root',
                data: {
                    firstName: '张',
                    lastName: '三',
                    fullName: '张 - 三'
                },
                // 用 computed 实现功能
                // computed: {
                //     fullName() {
                //         return this.firstName.slice(0, 3) + ' - ' + this.lastName;
                //     }
                // }

                // 用 watch 实现功能
                // watch: {
                //     firstName(newValue) {
                //         this.fullName = newValue.slice(0, 3) + ' - ' + this.lastName;
                //     },
                //     lastName(newValue) {
                //         this.fullName = this.firstName.slice(0, 3) + ' - ' + newValue;
                //     }
                // }

                /*
                总结：通过上述计算属性与监视属性的实现可以看到，计算属性能实现的功能一般来说监视属性也可以实现，
                    但是，监视属性写起来要更麻烦，每一个被监视的变量都需要一个单独的部分来处理。

                注意：目前，Vue 官方已经将监视属性的中文译文改为“侦听属性”。
                 */

                // ----------------------------------------------------------------------

                // 特殊情况：提一个需求，当姓发生改变的时候，全名延迟 1 秒钟再发生改变，名改变的时候，不做要求

                // 用 computed 实现（无法实现）
                // computed: {
                //     fullName() {
                //         // 这样的方式是不行的！因为 return 是返回给了那个箭头函数，而不是 fullName 函数！
                //         // 也就是说：计算属性是不能开启异步任务去维护数据的！
                //         // 其次：计算属性是基于响应式依赖进行缓存的。如果在计算属性中执行了异步操作，那么该计算属性就不能同步地返回一个值，这会破坏计算属性的缓存机制，
                //         setTimeout(() => {
                //             return this.firstName.slice(0, 3) + ' - ' + this.lastName;
                //         }, 1000);
                //     }
                // },

                // 用 watch 实现
                watch: {
                    firstName(newValue) {
                        // watch 不需要 return，而是通过修改 vm 中的数据
                        setTimeout(() => {
                            this.fullName = newValue.slice(0, 3) + ' - ' + this.lastName;
                        }, 1000);
                    },
                    lastName(newValue) {
                        this.fullName = this.firstName.slice(0, 3) + ' - ' + newValue;
                    }
                }

                /*
                总结：
                    computed 和 watch 之间的区别：
                    1、computed 能完成的功能，watch 都可以完成
                    2、watch 能完成的功能，computed 不一定能完成，例如：watch 可以进行异步操作

                    两个重要的小技巧：
                        1、所有被 Vue 管理的函数，都要写成普通函数，这样 this 的指向才是 vm 或组件实例对象
                        2、所有不被 Vue 所管理的函数（定时器的回调函数、Ajax的回调函数、Promise……），最好写成箭头函数，
                        这样 this 的指向才是 vm 或组件实例对象

                    在 Vue 中，computed 和 watch 都是用来监听数据变化的。它们的主要区别在于：
                    计算属性(computed)：计算属性是基于它所依赖的数据进行计算，并返回一个新的值。计算属性是基于响应式依赖进行缓存的，也就是说只有当计算属性依赖的数据发生改变时，才会重新计算。因此，如果多个地方需要使用同一份计算结果时，我们可以使用计算属性来避免重复计算。
                    监听器(watch)：监听器是监控一个特定的数据变化，并在数据变化时执行一些逻辑。当需要执行一些异步或开销较大的操作时，如网络请求或复杂的计算，我们可以使用 watch 来监听数据变化，从而在数据变化后立即执行对应的操作。
                    因此，computed 和 watch 虽然都可以监听数据变化，但它们的作用场景略有不同。computed 适用于计算得到的值具有缓存需求、且依赖的属性值发生变化时需要重新计算的情况；watch 适用于需要在某个数据变化时执行一些异步或开销较大的操作的情况。同时，watch 也可以实现 computed 的功能，但在性能上可能不如 computed 好。
                 */
            });
        </script>
    </body>
</html>
