/* body */
body {
    margin: 0;
    padding: 0;
    min-width: 980px;
}

a {
    text-decoration: none;
    outline: none;
    color: #006DB7;
}

a:hover {
    text-decoration: underline;
}

/* -------------------------------------------------------- */