<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Vue监测数据改变的原理（数组）</title>
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <!--
        数组更新元素的原理，本质就是做了两件事：
                (1)、调用原生对应的方法对数组进行更新
                (2)、重新解析模板，进而更新页面
        在 Vue 修改数组中的某个元素一定要用如下方法：
                1、使用这些 API：push()、pop()、shift()、unshift()、splice()、sort()、reverse()
                        注意：以上这些数组 API 是 Vue 重写后提供的，当数组调用了这些 API 后，Vue 会自动重新解析模板
                2、Vue.set() 或 vm.$set()
         -->
        <div id="root">
            <h1>学校信息</h1>
            <h2>学校名称：{{ name }}</h2>
            <h2>学校地址：{{ address }}</h2>
            <hr />
            <h1>学生信息</h1>
            <button @click.once="addSex">添加一个性别属性，默认值是男</button>
            <h2>学生姓名：{{ stu.name }}</h2>
            <h2>学生真实年龄：{{ stu.age.rage }}</h2>
            <h2>学生对外年龄：{{ stu.age.sage}}</h2>
            <h2 v-if="stu.sex">学生性别：{{ stu.sex }}</h2>
            <h2>朋友们</h2>
            <button @click.once="addF">添加一个朋友，默认Joy</button>
            <ul v-for="(f, index) in stu.friends" :key="index">
                <li>{{ f.name }} -- {{ f.age }}</li>
            </ul>
            <!--
            Vue 将被侦听的数组的变更方法进行了包裹，所以它们也将会触发视图更新。
            这些被包裹过的方法包括：
            push()
            pop()
            shift()
            unshift()
            splice()
            sort()
            reverse()
             -->
        </div>
        <script type="text/javascript">
            const vm = new Vue({
                el: '#root',
                data: {
                    name: '哈佛大学',
                    address: '波士顿',
                    stu: {
                        name: 'tom',
                        age: {
                            rage: 12,
                            sage: 29
                        },
                        friends: [
                            { name: 'Jerry', age: 23 },
                            { name: 'Jane', age: 18 }
                        ]
                    }
                },
                methods: {
                    addSex() {
                        Vue.set(this.stu, 'sex', '男');
                    },
                    addF() {
                        this.stu.friends.push({ name: 'Joy', age: 20 });
                        // 或者使用 Vue.set() 或 vm.$set()
                        // Vue.set(this.stu.friends, 2, { name: 'Joy', age: 20 });
                        // this.$set(this.stu.friends, 2, { name: 'Joy', age: 20 }); // 第二个是索引值
                    }
                }
            });
        </script>
    </body>
</html>
