<!--
 * @作者: kerwin
 * @公众号: 大前端私房菜
-->

<header>
    <% if(isShowTitle) {%>
        <h1>校园招聘</h1>
    <% } %>    
    <h1>我是公共头部</h1>
</header>


<style>
    header{
        background-color: red;
    }
</style>