// 传统 CSS 响应式代码
.header {
    width: 1000px;
}

// 最小宽度为 768px 时，设置 header 宽度
@media screen and (min-width: 768px) {
    .header {
        width: 500px;
    }
}

.footer {
    color: blue;
}

// 最小宽度为 768px 时，设置 footer 宽度
@media screen and (min-width: 768px) {
    .footer {
        color: red;
    }
}

// --------------------------------------
// CSS 精炼写法
// 一但数量过多，就会出现数据与操作分离较远的缺陷
.header {
    width: 1000px;
}

.footer {
    color: blue;
}

@media screen and (min-width: 768px) {
    .header {
        width: 500px;
    }

    .footer {
        color: red;
    }
}

// --------------------------------------
// Sass mixin语法
@mixin ipad {
    @media screen and (min-width: 768px) {
        @content;
    }
}

.header {
    width: 1000px;
    @include ipad {
        width: 500px;
    }
}

.footer {
    color: blue;
    @include ipad {
        color: red;
    }
}

// --------------------------------------
// Sass mixin语法（传参）
@mixin ipad($height) {
    @media screen and (min-width: 768px) {
        height: $height; 
        @content;
    }
}

.header {
    width: 1000px;
    @include ipad(100px) {
        width: 500px;
    }
}

.footer {
    color: blue;
    @include ipad(200px) {
        color: red;
    }
}