<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>列表排序</title>
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <h2>人员列表</h2>
            <input type="text" placeholder="请输入名字" v-model="keyword" />
            <button @click="sortType = 2">年龄升序</button>
            <button @click="sortType = 1">年龄降序</button>
            <button @click="sortType = 0">原顺序</button>
            <ul v-for="p in filPersons" :key="p.id">
                <li>{{p.name}} - {{p.age}} - {{p.sex}}</li>
            </ul>
        </div>
        <script type="text/javascript">
            new Vue({
                el: '#root',
                data: {
                    keyword: '',
                    sortType: 0, // 0：原顺序、1：降序、2：升序
                    persons: [
                        { id: '001', name: '周冬雨', age: 20, sex: '女' },
                        { id: '002', name: '马冬梅', age: 19, sex: '女' },
                        { id: '003', name: '周杰伦', age: 21, sex: '男' },
                        { id: '004', name: '温兆伦', age: 22, sex: '男' }
                    ]
                },
                computed: {
                    filPersons() {
                        const arr = this.persons.filter((p) => p.name.indexOf(this.keyword) !== -1);
                        // 判断是否需要排序
                        if (this.sortType) {
                            // 需要排序
                            // JS sort 用法：https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Array/sort
                            // a 和 b 是两个将要被比较的元素：
                            // 如果 (a, b) => {} 大于 0，b 会被排列到 a 之前;
                            // 如果 (a, b) => {} 小于 0，a 会被排列到 b 之前；
                            // 如果 (a, b) => {} 等于 0，a 和 b 的相对位置不变。
                            arr.sort((a, b) => {
                                return this.sortType === 1 ? b.age - a.age : a.age - b.age;
                            });
                        }
                        return arr;
                    }
                }
            });
        </script>
    </body>
</html>
