// CSS 语法结构
.title {
    color: #333;
}

.subtitle {
    color: #333;
}

.text {
    color: #333;
}

// Sass 语法结构
// 提醒：变量要写到调用位置之前
$default-font: 'microsoft yahei';
$small-font: 14px;
$text-color: #595;

.title-1 {
    font-family: $default-font;
    color: $text-color;
}

.subtitle-1 {
    color: $text-color;
}

.text-1 {
    font-size: $small-font;
    color: $text-color;
}

.text-2 {
    // lighten()函数使颜色变浅
    color: lighten($text-color, 20%);
}

.text-3 {
    // darken()函数使颜色加深
    color: darken($text-color, 20%);
}
