<!--
 * @作者: kerwin
 * @公众号: 大前端私房菜
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/upload" method="POST" enctype="multipart/form-data">
        <div>
            用户名：<input type="text" name="username">
        </div>
        <div>
            密码：<input type="password" name="password">
        </div>
        <div>
            年龄：<input type="number" name="age">
        </div>
        <div>
            头像：<input type="file" name="avatar">
        </div>

        <div>
            <input type="submit" value="添加用户">
        </div>
    </form>
</body>
</html>